main {
  place-items: center;
  height: 100vh;
  width: 100vw;
}
.container{
  overflow: hidden;
  position: relative;
  height: 80%;
  width: 80%;
}

.window{
  position: absolute;
  top:auto;
  left:auto;
  padding: 3vmax;
  background-color: aqua;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}